EXPO_PUBLIC_API_URL=https://backend-dental-bosch-vr8o.onrender.com/api
EXPO_PUBLIC_AUTH_PROVIDER=supabase # O 'backend' para alternar al backend original
EXPO_PUBLIC_SUPABASE_URL=TU_SUPABASE_URL_AQUI
EXPO_PUBLIC_SUPABASE_ANON_KEY=TU_SUPABASE_ANON_KEY_AQUI
EXPO_PUBLIC_RESET_PASSWORD_URL=https://web-reset-password-mtdtyer1i-alejandros-projects-f8361d32.vercel.app
